@{
    ViewData["Title"] = "Couches";
}
<style>
    body{
    background-image: url('/images/backgroundForWebsite.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
        }
</style>
<h1>Please buy my couches</h1>